body {
    font-family: 'Merriweather Sans', sans-serif !important;
}

.font-type {
    font-family: 'Merriweather Sans', sans-serif !important;
}

.nav-button {
    font-family: 'Merriweather Sans', sans-serif !important;
    font-weight: 700;
}
.links-list{
    list-style: none;
    padding-left: 0;
}
.button {
    color: #5388FE;
    background-color: #0074d9;
    border-radius: 3px;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: box-shadow, background-color;
    transition-property: box-shadow, background-color;
}

.button-transparent:hover {
    box-shadow: none;
}

a:hover,
a h1:hover,
a h2:hover,
a h3:hover,
a h4:hover,
a h5:hover,
a h6:hover,
.link-hover-color {
    color: #7a7a7a !important;
}

#home {
    background: #5388FE;
    background-size: 600% 600%;
    padding-top: 2rem
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 96% 0%
    }
    50% {
        background-position: 5% 100%
    }
    100% {
        background-position: 96% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 96% 0%
    }
    50% {
        background-position: 5% 100%
    }
    100% {
        background-position: 96% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 96% 0%
    }
    50% {
        background-position: 5% 100%
    }
    100% {
        background-position: 96% 0%
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.right {
    float: right;
}

.left {
    float: left;
}

.m0 {
    margin: 0;
}

.mb0 {
    margin-bottom: 0 !important;
    border: 0px;
}

.inline-block {
    display: inline-block;
}

.list-reset {
    list-style: none;
    padding-left: 0;
}

.button:hover {
    box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, .0625);
}

button,
.button {
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    line-height: 1.125rem;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
}

.py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.caps {
    text-transform: uppercase;
    letter-spacing: .2em;
}

.button-transparent {
    position: relative;
    z-index: 2;
    color: inherit;
    background-color: transparent;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.highlight {
    text-decoration: underline;
    text-decoration-color: #003366;
}

.highlight-container .highlight {
    z-index: 4;
}

.highlight,
.highlight-container {
    position: relative;
}

.bg-splash-gray {
    background-color: lightblue;
    padding-top: 2rem
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
}

.square-100 {
    width: 300px;
    height: 300px;
}


.circle {
    border-radius: 50%
}

.border-custom {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .125) !important
}

.p1 {
    padding: .5rem
}

.mb3 {
    margin-bottom: .5rem;
}

.mb2 {
    margin-bottom: 1rem;
}

.pl15 {
    padding-left: 15px;
}

.p3 {
    padding: 2rem
}

.my-name {
    font-size: 3rem;
    color: white;
}

.mb1 {
    margin-bottom: .5rem;
}

.mt0 {
    margin-top: 0;
}

.mxn2 {
    margin-left: -1rem;
    margin-right: -1rem;
}

.my-description {
    color: #C6C6C6!important;
    font-weight: 400;
}

.container {
    max-width: 38em!important
}

.width-120 {
    width: 120px;
}


a:hover {
    color: !important;
    opacity: 1!important
}

.highlightme {
    color: #5388FE!important;
    font-weight: 600
}

.header-font {}

.highlightme-special {
    animation-duration: 750ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.highlightme-special:hover {
    animation-play-state: paused!important;
    cursor: pointer;
}

.highlightme-special:hover {
    animation-play-state: paused!important;
    cursor: pointer;
}

.highlightme-special:onclick {
    animation-play-state: paused!important;
    cursor: pointer;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

.page-title {
    font-size: 3rem;
}

.py3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
figure{
  width: 400px;
  margin: 0;
  border: 1px solid #777;
  padding: 8px;
  box-sizing: border-box;
  background-color: white;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);    
  -webkit-transition: -webkit-transform .3s linear;
  font-family: 'Permanent Marker', Courier, monospace,'Times New Roman', Times, serif;

}
figure :hover{
    -webkit-transform: scale(1)!important;
    -moz-transform: scale(1)!important;
}
figure img{
  width: 100%;
}
figure figcaption{
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 8px 4px;
}

.scale-this :hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
